/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/rubik-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/rubik-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-v21-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/rubik-v21-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/rubik-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-v21-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/rubik-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-v21-latin-600.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v21-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/rubik-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-v21-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/rubik-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-v21-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/rubik-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/rubik-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/rubik-v21-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/rubik-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/rubik-v21-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* outfit-600 - latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/outfit-v6-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/outfit-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/outfit-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/outfit-v6-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/outfit-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/outfit-v6-latin-600.svg#Outfit') format('svg'); /* Legacy iOS */
}
/* outfit-700 - latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/outfit-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/outfit-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/outfit-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/outfit-v6-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/outfit-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/outfit-v6-latin-700.svg#Outfit') format('svg'); /* Legacy iOS */
}

:root{
  --site-header-bg-color: #fff;
  --hero-section-bg-color:#DBEBF8;
  --site-btn-text-color: #fff;
  --site-btn-bg-color:#1F6BFF;
  --site-main-text-color: #050931;
  --site-main-section-name-color: #1B1E1C;
  --site-main-text-subtitle-color: #647685;
  --site-main-text-desc-color: #767877;
  --site-text-color: #000;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

a{
  text-decoration: none;
}
ul,ol,li{
  list-style: none;
  padding-left: 0;
}

/* ***** SITE HEADER START ***** */
.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--site-header-bg-color);
  position: sticky;
  top: 0;
}

.container {
  max-width: 1100px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.site-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-logo-link{
  margin-right: 50px;
}

.site-header-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav-list {
  display: flex;
  align-items: center;
  margin-right: 100px;
  width: 100%;
  width: 565px;
}

.site-nav-item:not(:first-child){
  margin-left: 36px;
}

.site-nav-item-link {
  font-size: 18px;
  line-height: 100%;
  color: #222326cc;
}

.site-nav-item-link:hover{
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #222326;
}

.site-header-call-box {
  display: flex;
  align-items: center;
}

.site-header-call-img {
  margin-right: 12px;
}

.site-header-call-new {
  
}

.site-header-call-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
  color: var(--site-text-color);
}

.site-header-call-tel {
  font-size: 18px;
  line-height: 21px;
  color: var(--site-text-color);
}
/* ***** SITE HEADER START ***** */

/* ********** SITE MAIN START *********** */
/* ****** HERO SECTION START ***** */
.hero-section {
  padding-top: 120px;
  background-color: var(--hero-section-bg-color);
  background-image: url(../images/hero-section-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 300px) calc(50% + 20px);
}

.hero-section-title {
  width: 541px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 140%;
  color: var(--site-main-text-color);
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-section-subtitle {
  font-size: 18px;
  line-height: 172%;
  color: var(--site-main-text-desc-color);
  width: 517px;
  margin-top: 0;
  margin-bottom: 48px;
}
.hero-section-btn {
  padding: 18px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 166%;
  color: var(--site-btn-text-color);
  background-color: var(--site-btn-bg-color);
  border-radius: 4px;
}
.hero-section-number-list {
  display: flex;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 12px;
}
.hero-section-number-item {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: var(--site-main-text-color);
  margin-right: 80px;
}
.hero-section-number-item:last-child{
  margin-left: 15px;
}
.hero-section-name-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 71px;
}
.hero-section-name-item {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #647685;
  margin-right: 55px;
}
.hero-section-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-section-name-item:last-child{
  margin-right: 0;
}

.hero-section-right-bottom {
  position: relative;
  width: 360px;
  background-color: var(--site-header-bg-color);
  padding-top: 36px;
  padding-right: 67px;
  padding-left: 67px;
  padding-bottom: 76px;
  border-radius: 28px 28px 0px 0px;
  margin-left: auto;
}

.hero-section-right-bottom::before{
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-size: 45px;
  background-image: url(../images/users.svg);
  background-color: #FCDC00;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  /* padding: 33px 27px; */
  top: -50px;
  right: 300px;
}
.our-crertve-team-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  color: #222326;
  margin-top: 0;
  margin-bottom: 70px;
}
.hero-section-right-bottom-box {
  position: relative;
  display: flex;
  align-items: center;
}
.team-box1 {
  position: absolute;
  width: 79px;
  height: 79px;
  /* padding: 5px; */
  background-color: #48B774;
  border-radius: 50%;
}
.team-box2 {
  position: absolute;
  width: 79px;
  height: 79px;
  padding: 5px;
  background-color: #FF8345;
  border-radius: 50%;
  left: 60px;
}
.team-box3 {
  position: absolute;
  width: 79px;
  height: 79px;
  padding: 10px;
  background-color: #FFCA45;
  border-radius: 50%;
  left: 120px;
}

.our-crertve-team-subtitle{
  position: absolute;
  display:block;
  left: 180px;
  padding: 30px 30px;
  background-color: #EDEDED;
  border-radius: 50%;
  z-index: 99;
}

/* ****** HERO SECTION END ***** */
/* ********** SITE MAIN END *********** */